.row {
    display: flex;
    flex-direction: row;
}

.topic-title {
    margin-bottom: 10px;
    width: 80%;
}

.topic-message {
    margin-bottom: 10px;
}

.topic-username {
    width: 20%;
    text-align: right;
}

.topic-actions {
    width: 70%;
}

.topic-date {
    width: 30%;
    color: rgba(128, 128, 128, 0.404);
    text-align: right;
}


