.profile-picture {
    max-width: 130px;
    margin-left: 45px;
    margin-top: 10%;
}
.name {
    margin-top: 2%;
}

.details {
    margin-left: 45px;
    margin-top: 2%;
}

.detail {
    margin-top: 20px;
}

.header {
    margin-left: 60px;
}
