* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: white;
    font-family: "Poppins", sans-serif;
}

.logo {
    color: #eaeaea;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
}
.nav-links-left {
    width: 40%;
}
.nav-links-right {
    width: 15%;
}

.nav-links a {
    color: black;
    text-decoration: none;
}

.nav-links-left a {
    transition: "all 2s ease";
}

.nav-links-left a::after {
    content: "";
    display: block;
    height: 2px;
    border-radius: 2px;
    background: #000;
    transition: width 0.3s;
}

.nav-links-left a:link::after {
    width: 0;
}

.nav-links-left a:hover::after {
    width: 100%;
}

.nav-links li {
    list-style: none;
}

@media screen and (max-width: 1300px) {
    .nav-links-left {
        width: 60%;
    }
    .nav-links-right {
        width: 20%;
    }
}

@media screen and (max-width: 980px) {
    .nav-links-left {
        width: 65%;
    }
    .nav-links-right {
        width: 25%;
    }
}
