.post {
    margin: 20px 0;
    padding: 10px;
}

.post-title {
    margin-bottom: 10px;
}

.post-message {
    margin-bottom: 10px;
}

.post-username {
    width: 30%;
}

.post-creation-date {
    width: 70%;
    text-align: right;
}
