body,
html {
    padding: 0;
    margin: 0;
    background-color: #f6f8f8;
}

.page-container {
    text-align: center;
}

p {
    font-weight: 400;
}

h1,
h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1 {
    font-size: 34px;
    font-weight: 400;
    margin: 30px 0;
}

h2 {
    font-weight: 500;
    font-size: 30px;
}

h3 {
    font-weight: 500;
    text-transform: capitalize;
    font-size: 24px;
}
h4 {
    font-weight: 500;
    text-transform: capitalize;
    font-size: 18px;
}

h4:after {
    display: block;
    width: 40px;
    height: 0.5px;
    margin-top: 10px;
    margin-left: 2px;
    content: " ";
    background-color: black;
}

section {
    margin: 30px 0;
}
