.error-alert,
.success-alert {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    -webkit-box-shadow: 5px 5px 6px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 5px 5px 6px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 5px 5px 6px 3px rgba(0, 0, 0, 0.1);
}
